# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/

# Variables sensibles
.env

# Données locales générées
data/vector_store/
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db